<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5.0版本自动化测试平台(测试版本界面)</title>
    <link href="/static/css/5.0_Execute_test.css" rel="stylesheet" href="text/css">
</head>
<body>
    <div class="head">
        <div class="head_title">自动化测试平台</div>
        <div class="head_version">当前版本:2.0----推荐使用谷歌浏览器(6.0版本以上)</div>
    </div>
    <div class="middle">
        <a href="">执行测试</a>
        <a href="">测试任务管理</a>
        <a href="">测试用例上传</a>
        <a href="">测试用例管理</a>
        <a href="">邮箱添加</a>
        <a href="">邮箱管理</a>
    </div>
    <div class="foot">

    </div>
</body>
</html>