{%block head%} {%endblock head%}

<div class="main">
    <div>
        &nbsp;&nbsp;<img src="/static/images/mune.png" alt="menu" style="margin-top: -7px;">&nbsp;
          <span style="font-size: 24px;vertical-align: top;color: white">MENU</span>
    </div>
    <ul>
        <li class="l1"><a href="/">自动化测试平台</a></li>

        <li class="l2"><a href="/test_case1/">测试用例管理</a></li>

        <li class="l3"><a href="/up_load/">测试用例添加</a></li>

        <li class="l4"><a href="/test_task1/">测试任务管理</a></li>

        <li class="l5"><a href="/test/">执行测试</a></li>

        <li class="l6"><a href="/uploadmail/">邮箱地址添加</a></li>

        <li class="l7"><a href="/mail_task/">邮箱地址管理</a></li>

    </ul>
</div>
{%block body%} {%endblock body%}